<%- include("templates/header") %>

<div class="container" style="margin-top: 180px">
  <div class="row">
    <div class="col s12 center-align">
      <h2 class="text-darken-4">403... Access Denied</h2>
      <p class="flow-text">You need admin permission for further access.</p>
      <a class="waves-effect waves-light btn-large teal darken-1" href="/">Return to Homepage</a>
    </div>
  </div>
</div>

<%- include("templates/footer") %>