<%- include("templates/header") %> 
	<div>Users:</div>
    <ul>
        <% let i=0; %>
		<% for(i=0; i < users.length; i++) { %>
        <%- include('templates/user', {user: users[i]})  %> 
        <% }%> 
    </ul>
    <br>
        <form action="/" class="text-center">
            <button type="submit" class="btn btn-secondary">Return Home</button>
        </form>
        <br>
        <form action="/members" class="text-center">
            <button type="submit" class="btn btn-secondary">Return to Member's Page</button>
        </form>
        <br>
        <form action="/signout" class="text-center">
            <button type="submit" class="btn btn-secondary">Log Out</button>
        </form>

<%- include("templates/footer") %> 