<%- include("templates/header") %> 
<% if (!authenticated) { %>
    <form action="/login">
    <button type="submit">Log In</button>
    </form>
    <form action="/signup">
    <button type="submit">Sign Up</button>
    </form>
<% } else { %>
    <h1>Hello <%= name %></h1>
    <br>
    <form action="/members">
    <button type="submit">Visit Member's Section</button>
    </form>
    <form action="/logout">
    <button type="submit">Log Out</button>
    </form>
<% } %>

<%- include("templates/footer") %> 