<%- include("templates/header") %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <% if (!authenticated) { %>
        <div class="text-center mt-5">
          <form action="/login" class="d-inline-block">
            <button type="submit" class="btn btn-primary">Log In</button>
          </form>
          <form action="/signup" class="d-inline-block">
            <button type="submit" class="btn btn-secondary">Sign Up</button>
          </form>
        </div>
      <% } else { %>
        <h1 class="text-center mt-5">Hello <%= name %></h1>
        <div class="text-center mt-4">
          <form action="/members" class="d-inline-block">
            <button type="submit" class="btn btn-primary">Visit Member's Section</button>
          </form>
          <form action="/logout" class="d-inline-block">
            <button type="submit" class="btn btn-danger">Log Out</button>
          </form>
        </div>
      <% } %>
    </div>
  </div>
</div>
<%- include("templates/footer") %>
