<%- include("templates/header") %>
    <div class="container-fluid">
        <br><br>
        <h1 class="header center">Greetings <%= user %>!</h1>
        <div class="row">
            <% const pandas=[ { src: "/sloth1.gif"}, { src: "/sloth2.gif"}, {src: "/sloth3.gif" }, ]; sloths.forEach(function(sloth) { %>
                <div class="col s12 m6 l4">
                    <img class="responsive-img" src="<%= panda.src %>" alt="Sloth">
                </div>
                <% }); %>
        </div>
        <div class="right" style="padding-right: 10px; padding-bottom: 10px;">
            <form action="/logout" method="post">
                <button type="submit" class="waves-effect waves-light btn">Log Out</button>
            </form>
        </div>
    </div>
    <%- include("templates/footer") %>