<%- include("templates/header") %> 
    <h2>Greetings, <%= username %> </h2>
    <div class="row mb-3 text-center">
        <div class="col-md-4 themed-grid-col"><img class="img-fluid" src="sloth1.gif" alt="sloth" /> </div>
        <div class="col-md-4 themed-grid-col"><img class="img-fluid" src="sloth2.gif" alt="sloth" /></div>
        <div class="col-md-4 themed-grid-col"><img class="img-fluid" src="sloth3.gif" alt="sloth" /></div>
    </div>
    <a class=" my-3 btn btn-primary" href="/logout">Log Out</a>
<%- include("templates/footer") %> 